#user-collection-region {
  @include size(100%);
  overflow: auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.user-index-container {
	@include size(100%);
}
.users-list {
	@include size(100% auto);
	min-height: 100%;
	list-style-type: none;
	padding: 5%;
	max-width: calc(1024px + 10%);
	margin-left: auto;
	margin-right: auto;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
.user-list-item {
	display: block;
	margin: 0 0 5%;
	opacity: 0;
	@include transform(scale3d(0,0,1));
	&:last-child {
		margin-bottom: 0;
	}
	@include media($mobile_large_land_up) {
		width: 47%;
		float: left;
		&:nth-child(2n) {
			float: right;
		}
		&:nth-child(2n+1) {
			clear: left;
		}
		&:nth-last-child(1), &:nth-last-child(2) {
			margin-bottom: 0;
		}
	}
	@include media($ipad_land_up) {
		width: 30%;
		margin: 0 2.5% 5%;
		&:nth-child(2n) {
			float: left;
		}
		&:nth-child(2n+1) {
			clear: none;
		}
		&:nth-child(3n) {
			float: right;
			margin-right: 0;
		}
		&:nth-child(3n + 1) {
			clear: left;
			margin-left: 0;
		}
		&:nth-last-child(3){
			margin-bottom: 0;
		}
	}
}
.user-collection-article {
	background: $white;
	@include size(100%);
	border-radius: 10px;
	border: 5px solid $black;
	padding: 15px;
}
.user-bio-container {
	overflow: hidden;
	@include size(100%);
}
.user-avatar-container {
	@include size($avatar_size);
	border-radius: 50%;
	overflow: hidden;
	float: left;
	img {
		display: block;
		@include size(100%);
	}
}
$rand_red: random(200) - 1;
$rand_green: random(200) - 1;
$rand_blue: random(200) - 1;
.first-name-initial {
	@include size(100%);
	text-align: center;
	line-height: $avatar_size;
	background: rgba($rand_red, $rand_green, $rand_blue, 1);
	color: $white;
	font-size: 2.6rem;
}
.user-bio-text-container {
	float: right;
	@include size(calc(100% - #{$avatar_size}) $avatar_size);
	padding-left: 10px;
	position: relative;
	hgroup {
		@include size(calc(100% - 10px) auto);
		@include top-left(50%, 10px);
		@include transform(translate3d(0, -50%, 0));
	}
}
.user-name {
	color: $black;
	font-size: 1.7rem;
	font-stretch: semi-condensed;
	width: 100%;
	@include ellipsis();
	position: relative;
	z-index: 1;
	@include media($mobile_large_up) {
		font-size: 2rem;
	}
}
.user-occupation {
	color: $occupation_gray;
	line-height: 1.4em;
	font-size: 0.95rem;
	width: 100%;
	@include ellipsis();
	@include media($mobile_large_up) {
		font-size: 1rem;
	}
}
.user-details-container {
	overflow: hidden;
	@include size(100% auto);
	position: relative;
}
.user-graphs-container {
	float: left;
	width: 60%;
	margin-right: 5%;
	@include media($mobile_large_up) {
		width: 65%;
	}
}
.user-graph {
	@include size(100%);
	min-height: 75px;
}
.user-graph-caption {
	font-size: 0.8rem;
	color: $graph_label_gray;
	text-align: center;
}
.user-numbers-container {
	float: right;
	@include size(35% 100%);
	text-align: right;
	font-size: 1.2rem;
	.user-numbers {
		@include size(100% auto);
		@include bottom-right;
	}
	@include media($mobile_large_up) {
		width: 30%;
	}
}
.user-impressions {
	color: $impression_orange;
}
.user-conversions {
	color: $conversion_blue;
}
.user-total-revenue {
	color: $revenue_green;
	font-size: 1.6rem;
}
.user-number-label {
	color: $label_gray;
	font-size: 0.9rem;
	display: block;
	margin-bottom: 5px;
}


