#user-collection-region {
  @include size(100%);
  overflow: auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.user-index-container {
	@include size(100%);
}
.users-list {
	@include size(100%);
	list-style-type: none;
	padding: 5%;
}
.user-list-item {
	display: block;
	margin: 5% 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.user-collection-article {
	background: $white;
	@include size(100%);
	border-radius: 10px;
	border: 5px solid $black;
	padding: 15px;
}
.user-bio-container {
	overflow: hidden;
	@include size(100%);
}
.user-avatar-container {
	@include size($avatar_size);
	border-radius: 50%;
	overflow: hidden;
	float: left;
	img {
		display: block;
		@include size(100%);
	}
}
$rand_red: random(200) - 1;
$rand_green: random(200) - 1;
$rand_blue: random(200) - 1;
.first-name-initial {
	@include size(100%);
	text-align: center;
	line-height: $avatar_size;
	background: rgba($rand_red, $rand_green, $rand_blue, 1);
	color: $white;
	font-size: 2.6rem;
}
.user-bio-text-container {
	float: right;
	@include size(calc(100% - #{$avatar_size}) $avatar_size);
	padding-left: 10px;
}
.user-name {
	color: $black;
	font-size: 1.7rem;
	font-stretch: semi-condensed;
	width: 100%;
	@include ellipsis();
	position: relative;
	z-index: 1;
}
.user-occupation {
	color: $occupation_gray;
	padding-left: 5px;
	line-height: 1.4em;
	font-size: 0.95rem;
	width: 100%;
	@include ellipsis();
}
.user-details-container {
	overflow: hidden;
	@include size(100% auto);
}
.user-graphs-container {
	float: left;
	width: 60%;
	margin-right: 5%;
}
.user-graph {
	@include size(100%);
	min-height: 75px;
}
.user-graph-caption {
	font-size: 0.8rem;
	color: $graph_label_gray;
	text-align: center;
}
.user-numbers-container {
	float: right;
	width: 35%;
	text-align: right;
	font-size: 1.2rem;
}
.user-impressions {
	color: $impression_orange;
}
.user-conversions {
	color: $conversion_blue;
}
.user-total-revenue {
	color: $revenue_green;
	font-size: 1.6rem;
}
.user-number-label {
	color: $label_gray;
	font-size: 0.9rem;
	display: block;
	margin-bottom: 5px;
}


