*, *:before, *:after {
	box-sizing: border-box;
}
a, a:focus, a:visited, a:active, a:hover {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}
html, body {
  background: $white;
  color: $black;
  font-family: $theme_font;
  @include size(100%);
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
#site-header, #site-footer {
  @include size(100% 0);
}
#main-region {
	background: $body_bg;
	@include size(100%);
	position: relative;
	overflow: hidden;
}
.table {
  display: table;
  position: relative;
  @include size(100%);
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
#site-loader {
  @include size(100%);
  @include position(fixed, 0 null null 0);
  z-index: 10000;
  background: url(http://ddof8wj1m41ni.cloudfront.net/tune/img/common/brand/header/tune-logo-sitebrand.png) no-repeat 50% center $white;
  opacity: 1;
  visibility: visible;
  @include transition(opacity 1s);
  &.leaving {
    opacity: 0;
  }
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}
