<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteRule ^api/users/?$ api/min/users/index\.json [NC,L]
#    RewriteRule ^api/users/([0-9]+)$ api/min/users/models/$1\.json [NC,L]
#    RewriteRule ^api/users/pages/([0-9]+)$ api/min/users/pages/$1\.json [NC,L]
#    RewriteRule ^api/logs/?$ api/min/logs/index\.json [NC,L]
#    RewriteRule ^api/logs/([0-9]+)$ api/min/users/models/$1\.json [NC,L]
#    RewriteRule ^api/logs/pages/([0-9]+)$ api/min/users/pages/$1\.json [NC,L]
</IfModule>