$iphone_width: 320px;
$iphone_4_height: 480px;
$iphone_5_height: 568px;

$mobile_large_width: 370px;
$mobile_large_height: 640px;

$ipad_width: 768px;
$ipad_height: 1024px;

$tablet_width: 720px;
$tablet_height: 1280px;
$tablet_large_width: 800px;

$laptop_width: 1281px;
$laptop_large_width: 1366px;

$desktop_width: 1440px;
$desktop_medium_width: 1600px;
$desktop_large_width: 1900px;